@import "../../styles/variables";

#chat-container {
    max-width: 1000px;
    height: 75%;
    overflow-y: scroll;
    margin: 20px auto;
    background: #fff;
    box-shadow: 1px 1px 2px #999;

    // PC
    @media only screen and (min-width: 481px) {
        width: 90%;
        border: 5px solid #ddd;
        border-radius: 10px;
    }

    // SP
    @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0;
    }
}
