@import "../../styles/variables";

#chat-container {
    max-width: 1000px;
    height: 75%;
    overflow-y: scroll;
    margin: 20px auto;
    background: #fff;
    box-shadow: 1px 1px 2px #999;

    // PC
    @media only screen and (min-width: 481px) {
        width: 90%;
        border: 5px solid #ddd;
        border-radius: 10px;
    }

    // SP
    @media only screen and (max-width: 480px) {
        width: 100%;
        margin: 0;
    }
}
#chat-container .row {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}
.user-icon {
    img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-color: #fff;
        border: 2px solid #eee;
    }
}

.created-at {
    margin: -15px 0 5px -15px;
    time {
        color: $muted_color;
        padding: 0 8px;
    }
}

.anonymous-icon {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #eee;
    text-align: center;
    font-size: $large_font_size;
}