<div class="row">
    <div class="small-12 large-12 columns">
        <div class="created-at">
            <time>
                <span>{{ item.createdAt | date:'hh:mm' }}</span>
            </time>
        </div>
    </div>

    <div class="small-2 large-1 columns">
        <div *ngIf="item?.user?.imageURL; then userIcon else anonymousIcon"></div>
        <ng-template  #anonymousIcon>
            <div class="anonymous-icon">
                <i class="fi-torso"></i>
            </div>
        </ng-template>
        <ng-template #userIcon>
            <div class="user-icon">
                <img src="{{ item.user.imageURL }}">
            </div>
        </ng-template>
    </div>

    <div class="small-10 large-11 columns">
        <div class="message" [innerHTML]="item.message | linker">
        </div>
    </div>
</div>
