@import "../styles/variables";

.link-light {
    color: $text_on_dark_background_color;
}

.current-user {
    display: inline-block;
    padding-top: 5px;
}

.btn-sign-out {
    margin: -5px 20px 0 10px;
    height: 35px;
    padding: 8px 14px;
    font-size: $small_font_size;
    background: darken($muted_color, 20%);
    &:hover {
        background: darken($muted_color, 40%);
    }
}

input#message {
    background:#fff;
    border: 2px solid #eee;
    outline:none;
    box-shadow:none;
    font-size: $middle_font_size;
    font-weight:300;
    padding:1em .7em;
    margin: 0;
    border-radius: 5px;
}

#message-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 95%;
    height: 10%;
}

.message {
    line-height: 1.3em;
    vertical-align: middle;
}

.plus-btn {
    width: 30px;
    height: 30px;
    background: #fafafa;
    border-radius: 15px;
    padding: 7px;
    margin: 0 20px;
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
    &:hover {
        background: #eee;
    }
}