<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" role="menubar">
            <li class="menu-text" role="menuitem">
                Seated
            </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="dropdown menu" role="menubar" *ngIf="user" data-dropdown-menu>
            <li class="has-submenu is-dropdown-submenu-parent is-down-arrow" role="menuitem" tabindex="0" title="{{user.name}}" aria-haspopup="true">
                <a href="#" tabindex="-1">
                    <img src="{{ user.imageURL }}" style="border-radius: 24px;">
                </a>
                <ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
                    <li class="is-submenu-item is-dropdown-submenu-item" role="menuitem">
                        <a href="#" class="tiny">
                            Dashboard
                        </a>
                    </li>
                    <li class="is-submenu-item is-dropdown-submenu-item" role="menuitem">
                        <a href="#" class="tiny">
                            Profile
                        </a>
                    </li>
                    <li class="is-submenu-item is-dropdown-submenu-item" role="menuitem">
                        <a (click)="signOut()" class="tiny">
                            Sign out
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="plus-btn" (click)="doSomething()">
                    <i class="fi-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<chat-container [items]="items">
</chat-container>

<!--ログインユーザーは発言出来る-->
<div id="message-container" class="row" *ngIf="user">
    <div class="columns small-10">
        <input type="text" id="message" *ngIf="user"
            placeholder="Type here"
            (keyup.enter)="send($event.target.value)"
            [(ngModel)]="message" />
    </div>
    <div class="columns small-2">
        <button type="button" class="button" (click)="send(message)">
            send
        </button>
    </div>
</div>

<!--未ログインユーザーはログインボタンしか見えない-->
<div class="row" *ngIf="!user">
    <div class="columns small-12" style="text-align:center;">
        <div data-tooltip aria-haspopup="true" data-disable-hover="false" title="Sign in to chat!">
            <button type="button" class="button" (click)="loginWithTwitter()">
                <i class="fi-social-twitter"></i>
                Sign In with Twitter
            </button>
        </div>
    </div>
</div>